aws_region         = "eu-west-1"
vpc_id             = "vpc-xxxxxxxxx"
public_subnet_ids  = ["subnet-aaa", "subnet-bbb"]
private_subnet_ids = ["subnet-ccc", "subnet-ddd"]
certificate_arn    = "arn:aws:acm:eu-west-1:123456789012:certificate/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
ecr_repository_url = "123456789012.dkr.ecr.eu-west-1.amazonaws.com/api-service"
github_repo        = "your-org/your-repo"
